{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
  <h1>Quote</h1>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Inser Stock Symbol" type="text">
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>

    {% if name and price and symbol %}
    <div class="container mt-5">
        <h2 class="mb-4">Stock Information</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ price }}</td>
                    <td>{{ symbol }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
